<!doctype html>
{{ define "wap/index.html" }}
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title>自助客服系统 | 熊猫快收</title>
    <link rel="stylesheet" href="/assets/layui/css/layui.mobile.css" media="all">
</head>
<body>
<script src="/assets/layui/layui.js"></script>
<style>
    .layim-chat-tool, .layim-title .layim-chat-back{display: none}
    .layim-chat-footer{height: 45px}
</style>
<script>
    layui.use('mobile', function(){
        var mobile = layui.mobile
            ,layim = mobile.layim;
        //基础配置
        layim.config({
            init: {
                //设置我的基础信息
                mine: {
                    "username": "我" //我的昵称
                    ,"id": "1001" //我的ID
                    ,"avatar": "http://tp4.sinaimg.cn/1345566427/180/5730976522/0" //我的头像
                }
                //好友列表数据
                //,friend: [] //见下文：init数据格式
                ,brief: true ,//是否简约模式（如果true则不显示主面板）
            }
        });
        //创建一个会话
        layim.chat({
            id: "1000"
            ,name: '自助客服'
            ,type: 'kefu' //friend、group等字符，如果是group，则创建的是群聊
            ,avatar: '/assets/img/profile-photos/8.png'
        });

        //建立WebSocket通讯
        //注意：如果你要兼容ie8+，建议你采用 socket.io 的版本。下面是以原生WS为例
        var socket = new WebSocket('ws://127.0.0.1:8000/chat_demo');
        //连接成功时触发
        socket.onopen = function(){
            socket.send('连接成功');
        };

        layim.on('sendMessage', function(data){
            //console.log(res)
            socket.send(JSON.stringify({
                type: 'sendMessage' //随便定义，用于在服务端区分消息类型
                ,data: data
            }));

        });
        //监听收到的消息
        socket.onmessage = function(res){
            var To = JSON.parse(res.data);
            var obj = {};
            obj = {
                username: To.username
                ,avatar: To.avatar
                ,id: To.id
                ,type: To.type
                ,content: To.content
            }
            layim.getMessage(obj);

        };
    });
</script>
</body>
</html>
{{ end }}