<!DOCTYPE html>
{{ define "public/error.html" }}
<html>
<head>
    <title>熊猫快收</title>
	{{ template "public/assets.html" }}
</head>

<!--TIPS-->
<!--You may remove all ID or Class names which contain "demo-", they are only used for demonstration. -->

<body>
	<div id="container" class="cls-container">

		<div class="cls-content">
		    <h3 class="text-primary">o(╥﹏╥)o</h3>
		    <p class="text-main text-semibold text-lg text-uppercase">{{ .error }}</p>
		    <div class="pad-btm text-muted">
		        {{ .msg }}
		    </div>

		    <hr class="new-section-sm bord-no">
		    <div class="pad-top"><a class="btn-link" href="/">Back to Homepage</a></div>
		</div>
		
		
	</div>
	<!--===================================================-->
	<!-- END OF CONTAINER -->


		</body>
</html>
{{ end }}